node_modules
/packages/apps/admin/.next/
.idea
/packages/apps/website/.next/
/out/
/packages/apps/website/out/
/packages/shared/functions/coverage/
/packages/apps/admin/coverage/
/packages/apps/website/coverage/
/packages/apps/admin/out/
